.subtext {
    font-size: 1.2rem;
    display: block;
    margin-top: 6rem;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7rem;
    row-gap: 0;
}

.first-input {
    grid-column: 1/3;
}
