.login {
    display: grid;
    grid-template-columns: 60% 40%;
}

.left-image {
    position: relative;
    height: 100vh;
}

.form-background {
    display: none;
}

@media (max-width: 768px) {
    .login {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-image {
        display: none;
    }

    .form-background {
        display: flex;
    }
}
