.home {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/images/aloy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-logo {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-width: 20rem;
}
