.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 0.6rem;
    font-size: 1.7rem;
    background-color: #d35400;
    width: 5rem;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

.logout:hover {
    box-shadow: 0 0 15px #d35400;
    transition: 0.5s;
}

@media (max-width: 1400px) {
    .logout {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .logout {
        margin: auto;
    }
}
