.form {
    text-align: center;
    max-width: 30rem;
    margin: 10rem auto 0 auto;
    animation: form-appear 1s ease-out forwards;
}

.form-title {
    margin-bottom: 3rem;
    font-size: 3.5rem;
    font-family: Horizon;
    text-shadow: 0 0 3px #303030, 0 0 5px #303030;
}

.form button {
    padding: 0.6rem;
    cursor: pointer;
    width: 65%;
    font-size: 1.3rem;
    border: none;
    background-color: #d35400;
    color: #fff;
    margin-top: 2rem;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

.form button:hover {
    color: #fff;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #fff;
    transition: 0.5s;
}

@keyframes form-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1400px) {
    .form {
        margin: 8rem 2rem 0 2rem;
    }
}

@media (max-width: 1000px) {
    .form {
        margin: 5rem 2rem 0 2rem;
    }
}

@media (max-width: 768px) {
    .form {
        margin: 5rem auto 0 auto;
    }
}

@media (max-width: 540px) {
    .form {
        margin: 5rem 2rem 0 2rem;
    }
}

@media (max-width: 360px) {
    .form {
        margin: 1rem 2rem 0 2rem;
    }
}
