.register {
    display: grid;
    grid-template-columns: 40% 60%;
}

.right-video {
    position: relative;
    height: 100vh;
}

.form-background {
    display: none;
}

@media (max-width: 768px) {
    .register {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-video {
        display: none;
    }

    .form-background {
        display: flex;
    }
}
